@import './reset.css';

:root {
  --nav-width: 450px;
}

body {
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #333;
  color: #fff;
  padding: 60px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}

.nav-link {
  text-align: center;
  font-weight: 500;
  margin-bottom: 17px;
  font-size: 25px;
}

.nav-link a {
  color: rgba(255, 255, 255, 0.55);
  transition: color 0.15s ease-in-out;
}

.nav-link a:hover {
  color: rgba(255, 255, 255, 0.75);
}

a.nav-active {
  color: rgba(255, 255, 255, 0.95);
}

.nav-text {
  font-size: 22px;
  color: #aaa;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #2b5876, #4e4376);
}

/* Home */
.home > img {
  width: 600px;
}

/* Calculator */
.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(130px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output > .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output > .current-operand {
  color: #fff;
  font-size: 2.5rem;
}

/* Clock */
.clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
}

.clock::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  z-index: 100;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 10px;
  height: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 10;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
}

/* Painter */
#canvas {
  width: 1000px;
  height: 550px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-wrap {
  height: 50px;
}

.control-btn {
  width: 18%;
  height: 100%;
  margin-left: 15px;
}

.control-btn button {
  /* all: unset; */
  cursor: pointer;
  font-size: 33px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
}

button.current-btn {
  color: #2c2c2c;
}

button.active {
  border-bottom: 5px solid rgba(255, 255, 255, 0.85);
  border-radius: 3px;
}

.control-btn button:hover {
  opacity: 0.85;
}

.control-btn button:active {
  transform: scale(0.96);
}

.divider {
  display: inline-block;
  margin: 0 10px;
  width: 2px;
  height: 40%;
  background: #fff;
  opacity: 0.3;
}

.control-range {
  width: 20%;
}

.control-range input {
  width: 100%;
}

.control-colors {
  display: flex;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Todolist */
:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

.todolist {
  color: var(--clr-light);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-wrapper {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.lists {
  margin: 25px 0 30px;
  font-size: 1.2rem;
  line-height: 1.7;
  width: 100%;
  display: flex;
  align-items: center;
}

.list-name {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 50px;
}

.list-name:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-name.active {
  background-color: rgba(255, 255, 255, 0.3);
}

form {
  display: flex;
}

.list-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}

.new {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  padding: 0.25em;

  transition: border-bottom 150ms ease-in;
}

.new:focus {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.new::placeholder {
  color: inherit;
  opacity: 0.4;
}

.new:focus::placeholder {
  opacity: 0.2;
}

.new.list {
  font-size: 1.1rem;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
}

.btn.add {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 150ms ease-in;
}

.btn.add:hover {
  opacity: 0.7;
}

.btn.delete {
  font-size: 1.2rem;
  opacity: 0.9;
}

.btn.delete:last-child {
  color: #ff4f4f;
  margin-left: 40px;
}

.btn.delete:hover {
  opacity: 0.8;
}

.task-wrapper {
  --spacer: 2rem;
  width: 100%;
  min-height: 400px;
  background: var(--clr-light);
  color: var(--clr-dark);
  position: relative;
}

.task-header {
  padding: var(--spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e4e4e4;
}

.task-title {
  font-weight: bold;
  font-size: 23px;
  letter-spacing: -1px;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.task-body {
  padding: var(--spacer);
  position: relative;
}

.tasks {
  min-height: 250px;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.task label {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 20px;
}

[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  border: 2px solid currentColor;
  border-radius: 50%;
  cursor: pointer;

  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type='checkbox']:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--clr-primary);
}

[type='checkbox']:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0 2px white;
}

[type='checkbox']:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: '';
  left: 1.5em;
  right: 0;
  top: 50%;
  height: 2px;
  background: currentColor;
  position: absolute;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
  transform-origin: right;
}

[type='checkbox']:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.add-task .add {
  color: var(--clr-primary);
}

.add-task .new {
  width: 100%;
}

.delete-task {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  color: var(--clr-light);
}

.task-empty {
  width: 100%;
  height: 400px;
  line-height: 380px;
  text-align: center;
  border: 4px dotted rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.25);
}
